#root {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#tab-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
  .hide-if-small {
    display: none;
  }
  #bar {
    position: absolute;
    z-index: 2000;
    width: 100%;
  }
  #map {
    position: absolute;
  }
}

@media screen and (width > 800px) {
  #nav {
    display: none;
  }
  #bar {
    flex-basis: 330px;
    flex-shrink: 0;
    flex-grow: 1;
  }
}

#bar {
  height: 100%;
  text-align: center;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.bar {
  display: flex;
}
