#map {
  width: 100%;
}

#info {
  padding: 0.3em 0.5em;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info > * {
  margin-left: auto;
  margin-right: auto;
}

.bar {
  display: flex;
}

.colors {
  flex-grow: 1;
  height: 1em;
  margin: auto 0.5em;
  background: linear-gradient(to right, #440154, #21918c, #fde725);
}

.slider {
  display: flex;
  align-items: center;
}

.slider input {
  flex-grow: 1;
}

.mycluster {
  width: 30px !important;
  height: 30px !important;
  margin-top: -15px !important;
  margin-left: -15px !important;
}

.mycluster > div {
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
  text-shadow: 0 0 5px white;
}
