body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#bar {
  display: flex;
  justify-content: space-around;
}

#map {
  flex-grow: 1;
  width: 100%;
}

h3 {
  text-align: center;
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding-left: 2em;
}

.info {
  padding: .3em .5em;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.bar {
  display: flex;
}

.info > *, .bar * {
  margin-left: auto;
  margin-right: auto;
}

.colors {
  width: 100px;
  height: 1em;
  margin: auto .5em;
  background: linear-gradient(to right, hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120, 100%, 50%), hsl(180, 100%, 50%), hsl(240, 100%, 50%));
}

.slider {
  display: flex;
  align-items: center;
}

.slider input {
  flex-grow: 1;
}
